@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: #000;
  --background-end: #000;
  --background-accent: #444;
  --foreground-primary: #999;
  --foreground-negative: #000;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start: #000;
    --background-end: #000;
    --background-accent: #222;
    --foreground-primary: #999;
    --foreground-negative: #fff;
  }
}

span {
  border: var(--foreground-negative) !important;
}

body {
  background: linear-gradient(to top, transparent, var(--background-start))
    var(--background-end);
  color: var(--foreground-primary);
}
